.contactContainer {
    max-width: 100%;
    padding: 10rem 0;

    display: flex;
    justify-content: center;

    & form {
        width: 50%;
        padding-bottom: 3rem;
        

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 1px solid white;

        & label {
            margin: 4.18rem 0 .6rem;


            font-size: 1.375rem;
            color: var(--white);
            text-align: start;
            
        }
        & select, input {
            width: 80%;
            height: 2.5rem;
        }
 
        & select, input, .mensage {
            padding-left: 2rem;
            border: none;
            border-radius: 5px;

        }

        & input::placeholder, .mensage::placeholder {
            color: var(--black);
        }

        & .mensage {
            width: 80%;
            max-width: 49.437rem;
            height: 20rem;

            padding-top: 2rem;
        }

        & button {
            width: 30%;
            height: 2rem;
            
            font-weight: 600;
            color: var(--white);

            background-color: transparent;
            border: 1px solid var(--white);
            border-radius: 5px;

            margin-top: 1.5rem;

            transition: .2s ease-in;

            &:hover {
               color: var(--red-big-j);
               border: 1px solid var(--red-big-j);

            }
        }
    }
}