.mainContainer {
    margin-top: 12.62rem;

    display: flex;
    justify-content: center;
    flex-direction: column;

    & .title {
        width: 100%;
        height: 7.87rem;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h2 {
            font-size: 2.5rem;

            &::after, &::before {
                width: 50%;
                height: 1px;

                content: '';
                position: absolute;
                bottom: 1px;

                border-bottom: 2px solid var(--white);
            }

            &::before {
                top: 0;
                right: 0;
            }

            &::after {
                left: 0;
            }
        }
    }

    & .projectContainer {
        margin-top: 16.43rem;
        padding: 0 10rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3.31rem;

        position: relative;

        border: 1px solid red;
        
        .projectLeft {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 3.31rem;
            
            border: 1px solid #fff;

            & div{ 
                height: inherit;

                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 2rem;

                border: 1px solid blue;

                & h3 {
                    font-size: 2rem;
                    font-weight: normal;
                }

                .letterName {
                    font-weight: normal;
                    color: var(--red-big-j);
                    text-shadow: -2px 1px 2px   var(--shadow-letter);
                }

                & p { 
                    font-size: 1.125rem;
                }
            }
        }
        
        
        
    }
}